body{
    background-color: rgb(219, 219, 219);
}

 .container {
    display: inline-block;
    width: 800px;
    margin-top: 80px;
    margin-left: calc( (100% - 800px) / 2 );
  }
    .container > .left {
      display: inline-block;
      width: 40%;
      float: left;
      background-color: #36f;
      color: #fff;
      }
        .container > .left > h1{
            display: inline-block;
            width: 100%;
            padding: 40px;
        }
         .container > .left > footer{
              display: inline-block;
              width: 100%;
              position: absolute;
              bottom: 0px;
              left: 0px;
              right: 0px;
        }

        .container > .right {
            display: inline-block;
            width: 60%;
            float: left;
            padding: 60px;
            background-color: #fff;
            position: relative;
         }
         .container > .right > .close {
           display: inline-block;
           height: 60px;
           width: 60px;
           background-color: none;
           position: absolute;
           top: 0;
           right: 0;
           text-align: center;
           font-size: 30px;
           line-height: 55px;
         }

     
     
        
